.titulo_modal_correcto {
  font-size: 3.5em;
  color: green;
  text-align: center;
  margin-bottom: 10px;
}

.titulo_modal_incorrecto {
  font-size: 3.5em;
  color: red;
  text-align: center;
  margin-bottom: 10px;

}

.c-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;

}